html {
    font-size: 15px;
    font-family: sans-serif;
    color: #112D4E;
    line-height: 1.4;
}

html * {
    box-sizing: border-box;
}

body {
    padding: 20px;
    margin: 0;
    min-width: 1200px;
    width: 100%;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.float-left {
    float: left;
}

#mainbox {
    width: 800px;
    height: 400px;
    border: 1px solid #BE4747;
}

#div {
    width: 800px;
    height: 400px;
    border: 1px solid #112D4E;
}

#data {
    width: 400px;
    padding: 0 20px 20px;
}

#data table {
    width: 100%;
}

[type="button"] {
    border: none;
    background: #3F72AF;
    color: #F9F7F7;
    margin: 0 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    display: inline-block;
}

.buttons [type="button"] {
    min-width: 49%;
}

#graphholder {
    position: relative;
    padding-right: 40px;
}

#graphholder .scale {
    position: absolute;
    left: 405px;
    font-size: 9px;
}

#s0 {
    top: 240px;
}

#s25 {
    top: 187px;
}

#s50 {
    top: 125px;
}

#s75 {
    top: 62px;
}

#s100 {
    top: 0px;
}

#graphcanvas {
    border: 1px solid #112D4E;
}

#topscoreholder {
    font-size: .9rem;
}

#minimapholder {
    position: relative;
    border: 1px solid #112D4E;
    width: 800px;
    height: 200px;
    overflow: hidden;
}

.minimapmarker {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 200px;
    z-index: 5;
    border-left: 1px solid #112D4E;
    font-size: 9px;
    padding-left: 2px;
}

.silverdot {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 200px;
    z-index: 4;
}

#minimapfog {
    width: 798px;
    height: 198px;
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 2;
    background-color: #fff;
}

#minimapcamera {
    position: absolute;
    top: 0px;
    left: 1px;
    height: 199px;
    width: 50px;
    z-index: 3;
    border: 1px dashed #999;
}

.healthbar {
    cursor: pointer;
    position: relative;
    border: 1px solid #112D4E;
    width: 100px;
    height: 18px;
    padding: 2px;
    margin-left: 25px;
}

.healthbar .health {
    height: 100%;
    width: 100%;
    background-color: #BE4747;
}

.healthbar .healthtext {
    position: absolute;
    top: 0;
    left: -20px;
    font-size: .8rem;
}

#cars {
    margin-top: 20px;
}

#explanation {
    font-size: .8rem;
    margin-top: 50px;
    color: #444;
}

table {
    border-collapse:collapse;
    margin-bottom: 5px;
}

table td,
table th {
    padding: 0 5px;
    text-align: left;
    border-bottom: 1px solid #CCC;
}
